$font-family: 'Red Hat Display', sans-serif;

$color-white: #ffffff;
$color-primary: hsl(225, 100%, 94%);
$color-primary-bright: hsl(245, 75%, 52%);
$color-pale: hsl(225, 100%, 98%);
$color-darkblue: hsl(223, 47%, 23%);